.projectCard {
  padding: 30px;
  width: 337px;
  height: 377px;
  background-color: var(--projectBoxGray);
  border-radius: 16px;
}
.projectCard h5 {
  color: #27343f;
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.projectCard h6 {
  color: rgba(39, 52, 63, 0.5);
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 60px;
}

.projectCard p {
  color: rgba(39, 52, 63, 0.8);
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  margin-bottom: 30px;
}

.projectsCards {
  display: flex;
  gap: 30px;
}

.projectCardSection {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.pageButton {
  background-color: var(--mainBlue);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .projectCardSection {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 20px;
  }

  .projectCardImg {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
}

@media (min-width: 951px) and (max-width: 1200px) {
}

@media (min-width: 1850px) and (max-width: 1930px) {
  .projectCardSection {
    gap: 150px;
    margin-left: 200px;
    margin-bottom: 100px;
  }
}
/* @media (min-width: 1850px) and (max-width: 1930px) {
  .projectCardSection {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
   
    margin: 30px !important;
  }
} */
@media (min-width: 1230px) and (max-width: 1330px) {
  .projectCardSection {
    gap: 20px !important;
    margin-left: 30px !important;
    margin-right: 10px !important;
  }
}
