.blueSectionHome {
  margin-top: 162px;
  height: 1648px;
  background-color: #283441;
  position: relative;
}

.blueSectionInfoText {
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 150px;
  width: 732px;
}

.ImageBackgroundContainer {
  position: relative;
  background: var(--mainBlue)
}

.blueSectionBackgroundImg{
  opacity: 0.4;
}

/* .blueSectionBackgroundImg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(
    45deg,
    rgba(161, 12, 12, 0.5),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 1;
} */

.blueSectionHome button {
  color: var(--mainBlue);
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
  background-color: white;
  border-radius: 8px;
  width: 153px;
  height: 60px;
  margin-top: 360px;
  margin-left: 100px;
  margin-right: 100px;
}

.blueSectionInfoText h2 {
  /* width: 800px;  */
  color: white;
  font-size: 36px;
  font-family: var(--fontJakarta);
  font-weight: 800;
  line-height: 66.4px;
  word-wrap: break-word;
}

.blueSectionBackgroundImg {
  /* margin-right: 100px;
  margin-left: 100px; */
  margin-top: 120px;
}

.ImageBackgroundContainer{  
  max-width: 1290px;
  margin: auto;
  border-radius: 20px;
}

.blueSectionWhiteBox {
  background-color: #edeef2;
  width: 457px;
  height: 287px;
  border-radius: 16px;
  padding: 30px;
  position: absolute;
  top: 300px;
  right: 120px;
}
.blueSectionWhiteBox h5 {
  color: var(--mainBlue);
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.blueSectionWhiteBox p {
  color: var(--mainBlue);
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.blueSectionWhite2Box {
  background-color: #edeef2;
  width: 457px;
  height: 287px;
  border-radius: 16px;
  padding: 30px;
  position: absolute;
  top: 1050px;
  right: 720px;
}
.blueSectionWhite2Box h5 {
  color: var(--mainBlue);
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.blueSectionWhite2Box p {
  color: var(--mainBlue);
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.blueSectionBlueBox {
  background-color: var(--mainBlue);
  width: 457px;
  height: 287px;
  border-radius: 16px;
  padding: 30px;
  position: absolute;
  top: 600px;
  left: 70px;
}
.blueSectionBlueBox h5 {
  color: white;
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.blueSectionBlueBox p {
  color: white;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.blueSectionBlue2Box {
  background-color: var(--mainBlue);
  width: 457px;
  height: 287px;
  border-radius: 16px;
  padding: 30px;
  position: absolute;
  top: 750px;
  left: 830px;
}
.blueSectionBlue2Box h5 {
  color: white;
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 50px;
}

.blueSectionBlue2Box p {
  color: white;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}
/* Apply the animation to the boxes */
.blueSectionWhiteBox,
.blueSectionWhite2Box,
.blueSectionBlueBox,
.blueSectionBlue2Box {
  animation: moveUpDown 2s infinite ease-in-out;
}
/* Existing styles */
.blueSectionHome {
  margin-top: 162px;
  height: 1648px;
  background-color: #283441;
  position: relative;
}

.blueSectionInfoText button {
  transition: background-color 0.3s, color 0.3s;
}

.blueSectionInfoText button:hover {
  background-color: #afbdcaaf; /* Change background color on hover */
  color: white; /* Change text color on hover */
}
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the value to move up */
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 951px) and (max-width: 1200px) {
  .blueSectionWhiteBox {
    background-color: #edeef2;
    width: 257px;
    height: 187px;
    border-radius: 16px;
    padding: 30px;
    left: 10%;
  }
  .blueSectionBlueBox {
    background-color: var(--mainBlue);
    width: 257px;
    height: 187px;
    border-radius: 16px;
    padding: 30px;
    left: 70%;
  }
  .blueSectionBlue2Box {
    display: none;
  }

  .blueSectionWhite2Box {
    background-color: #edeef2;
    width: 257px;
    height: 187px;
    border-radius: 16px;
    padding: 30px;
    left: 10%;
    top: 800px;
  }

  .blueSectionWhite2Box p {
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .blueSectionWhite2Box h5 {
    font-size: 22px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    line-height: 32.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }

  .blueSectionBackgroundImg {
    /* display: none; */
    max-width: 900px;
    margin: 100px;
  }

  .blueSectionHome {
    margin-top: 162px;
    height: 100% !important;
    background-color: #283441;
    max-width: 1200px;
    padding-bottom: 100px;
  }

  .blueSectionHome {
    height: 900px;
    margin: 0;
  }

  .blueSectionInfoText {
    margin: 0;
  }

  .blueSectionInfoText h2 {
    color: white;
    font-size: 40px;
    font-family: var(--fontJakarta);
    font-weight: 600;
    line-height: 34px;
    word-wrap: break-word;
    /* margin-left: 100px; */
  }

  .blueSectionWhiteBox h5 {
    color: var(--mainBlue);
    font-size: 22px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    line-height: 32.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  .blueSectionBlueBox h5 {
    font-size: 22px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    line-height: 32.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }

  .blueSectionWhiteBox p {
    color: var(--mainBlue);
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  .blueSectionBlueBox p {
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .blueSectionInfoText button {
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    background-color: white;
    border-radius: 8px;
    width: 143px;
    height: 44px;
    margin-top: 30px;
    transition: background-color 0.3s, color 0.3s;
    /* margin-left: 210px; */
  }
}

@media (min-width: 1230px) and (max-width: 1330px) {
  .blueSectionBackgroundImg {
    width: 1100px;
  }

  .blueSectionBlue2Box {
    left: 730px;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .blueSectionWhiteBox {
    background-color: #edeef2;
    width: 257px;
    height: 187px;
    border-radius: 16px;
    padding: 30px;
    left: 30%;
  }
  .blueSectionBlueBox {
    background-color: var(--mainBlue);
    width: 257px;
    height: 187px;
    border-radius: 16px;
    padding: 30px;
    left: 30%;
  }
  .blueSectionBlue2Box {
    display: none;
  }

  .blueSectionWhite2Box {
    display: none;
  }

  .blueSectionBackgroundImg {
    display: none;
  }

  .blueSectionHome {
    margin-top: 162px;
    height: 48px;
    background-color: #283441;
  }

  .blueSectionHome {
    height: 900px;
  }

  .blueSectionInfoText h2 {
    color: white;
    font-size: 40px;
    font-family: var(--fontJakarta);
    font-weight: 600;
    line-height: 34px;
    word-wrap: break-word;
    margin-left: 100px;
  }

  .blueSectionWhiteBox h5 {
    color: var(--mainBlue);
    font-size: 22px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    line-height: 32.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  .blueSectionBlueBox h5 {
    font-size: 22px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    line-height: 32.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }

  .blueSectionWhiteBox p {
    color: var(--mainBlue);
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  .blueSectionBlueBox p {
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .blueSectionInfoText button {
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    background-color: white;
    border-radius: 8px;
    width: 143px;
    height: 44px;
    margin-top: 30px;
    margin-left: 210px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .blueSectionHome {
    display: none;
  }
  .blueSectionWhiteBox {
    background-color: #edeef2;
    width: 257px;
    height: 187px;
    border-radius: 16px;
    padding: 30px;
    left: 18%;
  }
  .blueSectionBlueBox {
    background-color: var(--mainBlue);
    width: 257px;
    height: 187px;
    border-radius: 16px;
    padding: 30px;
  }
  .blueSectionBlue2Box {
    display: none;
  }

  .blueSectionWhite2Box {
    display: none;
  }

  .blueSectionBackgroundImg {
    display: none;
  }

  .blueSectionHome {
    margin-top: 162px;
    height: 1648px;
    background-color: #283441;
  }

  .blueSectionHome {
    height: 900px;
  }

  .blueSectionInfoText {
    width: 200px;
  }

  .blueSectionInfoText h2 {
    color: white;
    font-size: 24px;
    font-family: var(--fontJakarta);
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
  }

  .blueSectionWhiteBox h5 {
    color: var(--mainBlue);
    font-size: 22px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    line-height: 32.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }
  .blueSectionBlueBox h5 {
    font-size: 22px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    line-height: 32.5px;
    word-wrap: break-word;
    margin-bottom: 5px;
  }

  .blueSectionWhiteBox p {
    color: var(--mainBlue);
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }
  .blueSectionBlueBox p {
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
  }

  .blueSectionInfoText button {
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    background-color: white;
    border-radius: 8px;
    width: 103px;
    height: 44px;
    margin-top: 30px;
  }
}

@media (min-width: 1550px) and (max-width: 1690px) {
  .blueSectionBackgroundImg {
    width: 1440px;
  }
  .blueSectionWhite2Box {
    top: 990px;
  }
  .blueSectionBlue2Box {
    left: 990px;
  }
}

@media (min-width: 1850px) and (max-width: 1930px) {
  .blueSectionBackgroundImg {
    width: 1740px;
  }
  .blueSectionBlue2Box {
    left: 1200px;
  }
  .blueSectionWhite2Box {
    left: 220px;
  }
}

@media (min-width: 1330px) and (max-width: 1380px) {
  .blueSectionHome {
    width: 1400px;
  }

  .blueSectionBackgroundImg {
    margin-left: 58px;
  }
}

@media (min-width: 1930px) and (max-width: 2050px) {
  .blueSectionBackgroundImg {
    width: 1820px;
  }

  .blueSectionBlue2Box {
    left: 1300px;
  }
  .blueSectionWhite2Box {
    left: 200px;
  }
}
