.headLi {
  color: #313d49;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
}

.headLiLast {
  color: #313d49;
  font-size: 14px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
  /* padding-right: 50px; */
}

.menuOptions {
  /* color: #313d49; */
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
  font-family: var(--fontJakarta);
}
.headLiFirst {
  color: #313d49;
  font-size: 14px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-wrap: break-word;
  padding-left: 90px;
}

.nav {
  margin: 0;
  background-color: white;
  position: fixed;
  z-index: 9999;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
}

.blueBox {
  width: 56px;
  height: 56px;
  background: #313d49;
  border-radius: 16px;
  margin-left: 1ch;
}

.headLi,
.headLiFirst,
.headLiLast {
  /* color: white; */
  cursor: pointer;
  transition: color 0.3s;
}

.headLi:hover,
.headLiFirst:hover,
.headLiLast:hover,
.menuOptions:hover {
  color: #0095eb;
  /* text-decoration: underline; */
}

.active {
  color: #0095eb;
}

.mobMenu {
  display: none;
}
.menuModal {
  display: none;
}

/* RESPONSIVE */

@media (min-width: 951px) and (max-width: 1200px) {
  .nav ul {
    display: none;
  }
  .nav {
    max-width: 1200px;
    max-height: 100px;
    padding: 0;
  }
  .logoIcon {
    margin-left: 0;
    margin-left: 30px;
    width: 110px;
    height: 100px;
  }

  .blueBox {
    display: none;
  }
  .menuIcon {
    cursor: pointer;
  }

  .mobMenu {
    display: block;
    margin-right: 40px;
    width: 35px;
    height: 50px;
    color: var(--mainBlue);
    z-index: 1300;
  }

  .closeIconMob {
    display: block;
    margin-right: 40px;
    width: 30px;
    height: 50px;
    color: white;
    z-index: 1300;
  }
  .menuModal {
    display: block;
    position: fixed;
    top: 0;
    float: left;
    left: 660px;
    width: 50%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: var(--mainBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .menuOptionsMob {
    list-style: none;
    display: block !important;
    z-index: 1100;
    position: absolute;
    top: 100px;
    /* padding: 50px; */
    padding-left: 30px;
    padding-right: 30px;
    /* left: 90px;  */
    width: 100%;
  }

  .menuOptionsMob li {
    /* padding: 10px 20px; */
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-right: 20px;
    padding-top: 15px;
  }

  .mobilemenuSect {
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-right: 20px;
    padding-top: 15px;
  }

  .menuOptionsMob li:hover {
    background-color: #364350;
  }
  .mobMenuButton li:hover {
    background-color: #364350;
  }

  .mobMenuButton {
    font-size: 18px;
    cursor: pointer;
    color: white;
    box-shadow: none;
  }

  /* .mainLanguageSwithcer{
  display: none;
} */
}

@media (min-width: 600px) and (max-width: 950px) {
  .nav ul {
    display: none;
  }
  .mainLanguageSwithcer {
    display: none;
  }
  .nav {
    max-width: 950px;
    max-height: 100px;
    padding: 0;
  }
  .logoIcon {
    margin-left: 0;
    margin-left: 30px !important;
    width: 90px;
    height: 30px !important;
    margin-top: 8px;
  }

  .blueBox {
    display: none;
  }
  .menuIcon {
    cursor: pointer;
  }

  .mobMenu {
    display: block;
    margin-right: 40px;
    width: 35px;
    height: 50px;
    color: var(--mainBlue);
    z-index: 1300;
  }

  .closeIconMob {
    display: block;
    margin-right: 40px;
    width: 30px;
    height: 50px;
    color: white;
    z-index: 1300;
  }
  .menuModal {
    display: block;
    position: fixed;
    top: 0;
    float: left;
    left: 460px;
    width: 50%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: var(--mainBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .menuOptionsMob {
    list-style: none;
    display: block !important;
    z-index: 1100;
    position: absolute;
    top: 100px;
    /* padding: 50px; */
    padding-left: 30px;
    padding-right: 30px;
    /* left: 90px;  */
    width: 100%;
  }

  .menuOptionsMob li {
    /* padding: 10px 20px; */
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-right: 20px;
    padding-top: 15px;
  }

  .mobilemenuSect {
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-right: 20px;
    padding-top: 15px;
  }

  .menuOptionsMob li:hover {
    background-color: #364350;
  }
  .mobMenuButton li:hover {
    background-color: #364350;
  }

  .mobMenuButton {
    font-size: 18px;
    cursor: pointer;
    color: white;
    box-shadow: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .nav ul {
    display: none;
  }
  .nav {
    max-width: 600px;
    max-height: 100px;
    padding: 0;
  }
  .logoIcon {
    margin-left: 0;
    margin-left: 30px !important;
    width: 70px;
    height: 50px !important;
    margin-top: 8px;
  }

  .blueBox {
    display: none;
  }
  .menuIcon {
    cursor: pointer;
  }
  /* .menuOpen {
    background-color: rgba(0, 0, 0, 0.5);

  } */

  .mobMenu {
    display: block;
    margin-right: 40px;
    width: 35px;
    height: 50px;
    color: var(--mainBlue);
    z-index: 1300;
  }

  .closeIconMob {
    display: block;
    margin-right: 40px;
    width: 30px;
    height: 50px;
    color: white;
    z-index: 1300;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900; /* Ensure it covers everything behind the menu modal */
  }

  .menuModal {
    display: block;
    position: fixed;
    top: 0;
    float: left;
    left: 155px;
    width: 65%;
    height: 100%;
    background-color: var(--mainBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .menuOptionsMob {
    list-style: none;
    display: block !important;
    z-index: 1100;
    position: absolute;
    top: 100px;
    /* padding: 50px; */
    padding-left: 30px;
    padding-right: 30px;
    /* left: 90px;  */
    width: 100%;
  }

  .menuOptionsMob li {
    /* padding: 10px 20px; */
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-right: 20px;
    padding-top: 15px;
  }

  .mobilemenuSect {
    font-size: 18px;
    cursor: pointer;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-right: 20px;
    padding-top: 15px;
  }

  .menuOptionsMob li:hover {
    background-color: #364350;
  }
  .mobMenuButton li:hover {
    background-color: #364350;
  }

  .mobMenuButton {
    font-size: 18px;
    cursor: pointer;
    color: white;
    box-shadow: none;
  }
  .mainLanguageSwithcer {
    display: none;
  }
}

/* 768px  1200px 1280px 1024px  640px  320 */
