.newsCardsSect {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  gap: 75px;
}

.newsCardsSect {
  margin-top: 100px;
}
.newsCard {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 100%;
}

.newsCardImg {
  flex-shrink: 0;
  width: 550px;
  height: 430px;
  overflow: hidden;
  border-radius: 12px;
}

.newsCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

.newsCardDescription {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: var(--projectBoxGray);
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.17);
  width: 70%;
}

.newsCardDescription h6 {
  color: rgba(39, 52, 63, 0.5);
  padding-bottom: 30px;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
}

.newsCardDescription h3 {
  color: var(--mainBlue);
  font-size: 22px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  padding-bottom: 5px;
}

.newsCardDescription h4 {
  color: var(--mainBlue);
  font-size: 14px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 28.8px;
  word-wrap: break-word;
  padding-bottom: 47px;
}

.newsCardDescription p {
  color: var(--mainBlue);
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
  padding-bottom: 47px;
}

.newsCardDescription button {
  height: 64px;
  width: 180px;
  /* padding: 30px; */
  color: white;
  font-size: 18px;
  background-color: var(--mainBlue);
  font-family: var(--fontInter);
  font-weight: 500;
  word-wrap: break-word;
  border-radius: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  background-color: var(--mainBlue);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 16px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .newsCardDescription h3 {
    font-size: 18px;
  }

.descBlog p{
  font-size: 14px !important;
  line-height: 28px;
}



  .newsCardDescription h6 {
    color: rgba(39, 52, 63, 0.5);
    padding-bottom: 30px;
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .newsCardImg {
    display: block;
    max-width: 350px;
    height: 300px;
    margin: auto;
    box-sizing: border-box;
    object-fit: cover !important;
  }
  .newsCardImg img {
    box-sizing: border-box;
    object-fit: cover !important;
  }

  .newsCard {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin: 0;
    max-width: 350px;
    margin: auto;
  }

  .newsCardDescription {
    width: 100%;
    margin-right: 0px;
  }

  .newsCardsSect {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0;
    gap: 55px;
  }

  .newsCardDescription button {
    height: 44px;
    width: 130px;
    /* padding: 30px; */
    color: white;
    font-size: 14px;
    background-color: var(--mainBlue);
    font-family: var(--fontInter);
    font-weight: 500;
    word-wrap: break-word;
    border-radius: 10px;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .newsCardImg {
    display: none;
  }

  .newsCard {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100% !important;
    margin: 0;
    margin-top: 50px;
  }

  .newsCardDescription {
    width: 100%;
    margin-right: 30px;
  }

  .newsCardsSect {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 0;
    gap: 35px;
  }

  .newsCardDescription button {
    height: 44px;
    width: 130px;
    /* padding: 30px; */
    color: white;
    font-size: 14px;
    background-color: var(--mainBlue);
    font-family: var(--fontInter);
    font-weight: 500;
    word-wrap: break-word;
    border-radius: 10px;
  }
}
