.projectCard {
  padding: 30px;
  width: 287px;
  height: 377px;
  background-color: var(--projectBoxGray);
  border-radius: 16px;
}
.projectCard h5 {
  color: #27343f;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.projectCard h6 {
  color: rgba(39, 52, 63, 0.5);
  font-size: 14px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.projectCard p {
  color: rgba(39, 52, 63, 0.8);
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  margin-bottom: 30px;
  height: 160px;
}

.projectsCards {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  border-radius: 15px;
}

.projectsCards {
  display: flex;
  gap: 40px;
  transition: transform 0.3s ease;
}
.projectsCards:hover {
  transform: scale(1.01);
}

.projectCardSection {
  display: flex;
  /* gap: 90px; */
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.projectCard button {
  width: 89px;
  height: 42px;
  background: var(--mainBlue);
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-family: var(--fontInter);
  font-weight: 500;
  word-wrap: break-word;
}

.projectCardImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
}

@media (min-width: 951px) and (max-width: 1200px) {
  .projectCardSection {
    gap: 30px;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .projectCardSection {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .projectCard {
    padding: 30px;
    width: 287px;
    height: 377px;
    background-color: var(--projectBoxGray);
    border-radius: 16px;
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .projectCardSection {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px;
  }

  .projectCard {
    padding: 30px;
    width: 287px;
    height: 377px;
    background-color: var(--projectBoxGray);
    border-radius: 16px;
  }
}

@media (min-width: 1850px) and (max-width: 1930px) {
  .projectCardSection {
    margin-left: 350px;
  }
}
@media (min-width: 1200px) and (max-width: 1410px) {
  .projectsCards {
    display: flex;
    gap: 0px;
    transition: transform 0.3s ease;
  }
}
