.projectCard {
  padding: 30px;
  height: 377px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--projectBoxGray);
  /* border-radius: 16px;
 */
  border-radius: 0 0 16px 16px;
}
.projectCard h5 {
  color: #27343f;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.projectCard h6 {
  color: rgba(39, 52, 63, 0.5);
  font-size: 14px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.projectCard p {
  color: rgba(39, 52, 63, 0.8);
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
  margin-bottom: 30px;
  height: 160px;
}

.projectsCards {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  border-radius: 15px;
}

.projectsCards {
  width: 32%;
  /* display: flex; */
  /* gap: 40px; */
}

.projectCardSection {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* margin: 100px; */
  /* margin-left: 150px; */
}

.projectCard button {
  width: 89px;
  height: 42px;
  background: var(--mainBlue);
  border-radius: 8px;
  color: white;
  font-size: 14px;
  font-family: var(--fontInter);
  font-weight: 500;
  word-wrap: break-word;
}

.projectCardImg {
  display: flex;
  justify-content: center;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%; /* Ensure pagination spans the width of the container */
}

.pageButton {
  background-color: var(--mainBlue);
  border-radius: 4px;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 16px;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .projectCardSection {
    max-width: 900px;
  }

  .projectsCards {
    width: 48%;
  }
}
@media (max-width: 600px) {
  .projectCardSection {
    max-width: 400px;
  }

  .projectsCards {
    width: 100%;
  }
}
