.aboutSectionFirst {
  background-color: #f3f3f3;
  padding-bottom: 10px;
}

.aboutSectBox {
  background-color: #ffff;
  padding: 50px;
  box-shadow: 10px 20px 70px rgba(158.15, 159.22, 165.75, 0.55);
  /* border-radius: 16px; */
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 100%;
  /* width: 770px; */
  /* margin-top: 100px; */
  /* position: absolu
  ptte; */
  /* top: 180px; */
  /* left: 1px; */
  /* z-index: 999; */
  /* margin-left: 100px; */
}

.aboutSectImage img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-top: 90px;
}
.aboutSectBox h2 {
  color: #00051b;
  font-size: 38px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  line-height: 46.4px;
  word-wrap: break-word;
  padding-bottom: 50px;
}

.aboutSectBox p {
  color: #6d6e70;
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}

.aboutSectContainer {
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  position: relative;
  /* padding-left: 100px;
  padding-right: 100px; */
  margin-bottom: 123px;
}

@media (min-width: 951px) and (max-width: 1200px) {
  .aboutSectImage {
    display: none;
  }

  .missionVisionAbout {
    display: none;
  }
  .aboutSectionFirst {
    background-color: white;
  }
}

@media (min-width: 601px) and (max-width: 950px) {
  .aboutSectionFirst {
    background-color: white;
  }

  .aboutSectBox {
    padding: 30px;
    height: auto;
    top: 0;
    left: 0;
    margin: 30px;
    width: 630px;
  }

  .aboutSectImage {
    display: none;
  }

  .missionVisionAbout {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .aboutSectBox {
    max-width: 350px !important;
    margin: auto !important;
    margin-bottom: 30px !important;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .aboutSectContainer {
    margin-bottom: 0 !important;
  }

  .aboutSectionFirst {
    background-color: white;
  }

  .aboutSectBox h2 {
    color: #00051b;
    font-size: 20px;
    font-family: var(--fontJakarta);
    font-weight: 600;
    line-height: 26.4px;
    word-wrap: break-word;
    padding-bottom: 20px;
  }

  .aboutSectBox p {
    color: #6d6e70;
    font-size: 12px;
    font-family: var(--fontJakarta);
    font-weight: 200;
    line-height: 20px;
    word-wrap: break-word;
  }

  .aboutSectImage {
    display: block;
    max-width: 350px;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0px !important;
  }

  .aboutSectImage img {
    margin-top: 20px !important;
  }

  .missionVisionAbout {
    display: none;
  }
}

@media (min-width: 1850px) and (max-width: 1930px) {
  .aboutSectImage {
    margin-left: 590px;
  }

  .aboutSectBox {
    width: 800px;
  }
}
@media (min-width: 1930px) and (max-width: 2050px) {
  .aboutSectImage img {
    width: 1300px;
    margin-left: 130px;
  }
}
