.teamSection{
    margin-left:100px ;
    margin-right: 100px;
    margin-top: 100px;
}
.teamSection h2{
    font-size: 44px;
    font-weight: 600;
    font-family: var(--fontJakarta);
}



.card {
    width: 400px;
    height: 510px;
    margin-right: 10px; 
    float: left;
    border-radius: 8px;
    padding: 50px;
    position: relative;
    background-size: cover; 
    background-position: center; 
    background-color: rgba(245, 245, 245, 0.743);
    background-repeat: no-repeat; 
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.cardSect {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cardDesc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.417);
    bottom: 0; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white; 
    padding: 30px; 
    border-radius: 5px; 
}

.cardDesc:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Change to a darker color on hover */
}

.cardDesc{
    font-size: 20px;
    font-weight: 600;
}

.cardDesc p{
    font-size: 14px;
    font-weight: 300;
}