.videoBox {
  background-color: var(--projectBoxGray);
  width: 460px;
  height: 610px;
  padding: 30px;
  border-radius: 16px;
}

.videoBox h6 {
  color: rgba(39, 52, 63, 0.5);
  padding-top: 10px;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
  padding-bottom: 34px;
}

.videoBox h5 {
  color: #27343f;
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  padding-bottom: 5px;
}

.videoBox p {
  color: var(--mainBlue);
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 28.8px;
  word-wrap: break-word;
  padding-bottom: 30px;
}

.videoBoxCont {
  margin-right: 100px;
  margin-left: 230px;
  display: flex;
  flex-wrap: wrap;
  gap: 78px;
  margin-top: 100px;
}

.customButton {
  cursor: pointer;
  background-color: #ff4b4b;
  margin-left: 190px;
  width: 55px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.imgVideoCont {
  width: 700px;
  height: 300px;
}

@media (min-width: 320px) and (max-width: 600px) {
  .videoBoxCont {
    margin-right: 10px;
    margin-left: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    margin-top: 70px;
  }

  .videoBox {
    background-color: var(--projectBoxGray);
    width: 305px;
    height: 450px;
    padding: 30px;
    border-radius: 16px;
    margin-left: 40px;
  }
  .customButton {
    margin-left: 30px;
  }
  .imgVideoCont {
    height: 200px !important;
    width: 400px !important;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .videoBoxCont {
    margin-right: 10px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
    margin-top: 70px;
  }

  .videoBox {
    background-color: var(--projectBoxGray);
    width: 375px;
    height: 550px;
    padding: 30px;
    border-radius: 16px;
  }
}
@media (min-width: 951px) and (max-width: 1200px) {
  .videoBoxCont {
    margin-right: 50px;
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
    gap: 98px;
    margin-top: 70px;
  }

  .videoBox {
    background-color: var(--projectBoxGray);
    width: 375px;
    height: 550px;
    padding: 30px;
    border-radius: 16px;
  }
}
