.projectDetailSection {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  gap: 30px;
  margin-top: 54px;
  margin-bottom: 30px;
}

.projectDetailCardSection {
  width: 390px;
  border-radius: 16px;
  margin-right: 20px;
  background-color: var(--projectBoxGray);
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.projectDetailCardSection p {
  padding-top: 30px;
  color: #313d49;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 21px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  /* line-height: 36px; */
  word-wrap: break-word;
}

.projectDetailDescription {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}

.projectDetailBtn {
  width: 100px;
  height: 64px;
  background-color: var(--mainBlue);
  color: #dce0e4;
  border-radius: 8px;
  margin-left: 640px;
  margin-bottom: 30px;
  /* padding: 30px; */
}

@media (max-width: 600px) {
  .projectDetailSection {
    padding: 10px;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .projectDetailCardSection {
    max-width: 100%;

    height: 300px;
  }
  .projectDetailCardSection {
    padding: 10px;
  }

  .projectDetailDescription {
    margin-top: 10px;
  }

  .projectDetailBtn {
    margin-top: 10px;
  }

  .projectDetailDescription {
    padding-top: 30px;
    margin: 0;

    padding-left: 25px;
    padding-right: 20px;
    font-size: 18px;
    font-family: var(--fontJakarta);

    line-height: 20px;
    word-wrap: break-word;
  }
}
