.projectDetailSection {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  margin-top: 54px;
  margin-bottom: 30px;
}

.projectDetailCardSection {
  max-width: 550px;
  border-radius: 16px;
  margin-right: 20px;
  background-color: var(--projectBoxGray);
  height: 320px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.projectDetailCardSection p {
  color: #313d49;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  word-wrap: break-word;
}

@media (max-width: 600px) {
  .projectDetailSection {
    padding: 10px;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .videoComponent {
    max-width: 350px;
    margin: auto !important;
  }
  .projectDetailCardSection {
    max-width: 100%;

    height: 300px;
  }
  .projectDetailCardSection {
    padding: 10px;
  }

  .projectDetailDescription {
    margin-top: 10px;
  }

  .projectDetailBtn {
    margin-top: 10px;
  }

  .projectDetailDescription {
    padding-top: 30px;
    margin: 0;

    padding-left: 25px;
    padding-right: 20px;
    font-size: 18px;
    font-family: var(--fontJakarta);

    line-height: 20px;
    word-wrap: break-word;
  }

  .projectDetailBtn {
    margin-right: 0 !important;
    margin-left: 20px !important;
    margin-top: 20px;
  }
}

@media (min-width: 1850px) and (max-width: 1930px) {
  .projectDetailSection {
    gap: 140px;
  }

  .projectDetailBtn {
    margin-left: 140px;
  }
}
