.equipmentDetailSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  /* gap: 102px; */
  margin-top: 100px;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
}

.productDescription {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-top: 50px;
}

.equipmentDetailImgSection {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.equipmentsSmallImg img {
  object-fit: contain;
}
.equipmentsSmallImg {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.equipmentDetailDescSection h4 {
  color: #27343f;
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  line-height: 32.5px;
  word-wrap: break-word;
  margin-bottom: 15px;
}

.equipmentDetailDescSection h5 {
  color: rgba(39, 52, 63, 0.5);
  font-size: 20px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
  margin-bottom: 54px;
}

/* .equipmentDetailDescSection h6 {
  color: rgba(39, 52, 63, 0.8);
  font-size: 20px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
  margin-bottom: 23px;
} */

.equipmentDetailDescSection p {
  width: 652px;
  height: 280px;
  color: rgba(39, 52, 63, 0.8);
  font-size: 20px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}

/* modal  */
/* modal.module.css */
.modalOverlay {
  position: fixed;
  z-index: 99000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  /* max-width: 70%; */
  max-height: 65%;
  overflow: auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modalImage {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.imageContainer {
  width: 80%;
  height: 80%;
  position: relative;
  overflow: hidden;
}

/* .slider{
  width: 300px;
  height: 300px;
} */

.modalContent {
  width: 600px;
  height: 600px;
}
.slider img {
  height: 450px;
  width: 100%;
  /* height: auto; */
  object-fit: contain;
  position: relative;
  display: block;
  margin: auto;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.prevButton {
  z-index: 9999;
  left: 10px;
  font-size: 30px;
  color: var(--mainBlue);
  /* background-color: aliceblue; */
}

.nextButton {
  right: 10px;
  font-size: 30px;
  color: var(--mainBlue);
}

@media (min-width: 320px) and (max-width: 600px) {
  .equipmentDetailSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }

  .equipmentDetailDescSection {
    margin: 30px;
  }

  .equipmentDetailDescSection p {
    max-width: 300px;
    height: 280px;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .equipmentDetailSection {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
  }

  .equipmentDetailDescSection {
    margin: 30px;
  }

  .equipmentDetailDescSection p {
    max-width: 500px;
    height: 280px;
  }
}

@media (min-width: 951px) and (max-width: 1200px) {
  .equipmentDetailSection {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
  }

  .equipmentDetailDescSection {
    margin: 30px;
  }

  .equipmentDetailDescSection p {
    max-width: 500px;
    height: 280px;
  }
}
