.servicesBoxContainer {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.paragraph{
  display: flex;
  flex-direction: column;
}



.servicesBoxes {
  display: flex;
  gap: 30px;
}

.servicesBoxDescription {
  margin-top: 90px;
  display: flex;
  gap: 120px;
}
.servicesBox {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.17);
}
.servicesBoxes div {
  height: 400px;
  width: 350px;
  padding: 30px;
  border-radius: 16px;
}
.servicesBox.selected {
  background-color: var(--mainBlue);
}

.servicesBoxes div.selected h6 {
  color: #f4f4f4;
}
.servicesBoxes div:hover {
  background-color: var(--mainBlue);
  cursor: pointer;
}

.servicesBox p {
  color: rgb(188, 184, 184);
  font-size: 20px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
  padding-bottom: 100px;
}

.servicesBox h6 {
  padding-top: 25px;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  /* line-height: 22px; */
  line-height: 36px;
  word-wrap: break-word;
}

.servicesBox h6 {
  padding-top: 25px;
  font-size: 18px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
  color: rgba(44, 43, 43, 0.711);
}
.servicesBoxes div.selected h6,
.servicesBoxes div:hover h6,
.servicesBoxes div.selected:hover h6 {
  color: #f4f4f4;
}

/* DESCRIPTION SIDE ____________________  */

.servicesBoxDescription {
  padding: 55px;
  border-radius: 14px;
}

.servicesBoxDescription h6 {
  font-size: 24px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  line-height: 39px;
  word-wrap: break-word;
  width: 180px;
}

.servicesBoxDescription p {
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
  width: 900px;
}

.servicesBoxDescription[style*="--projectBoxGray"] h6,
.servicesBoxDescription[style*="--projectBoxGray"] p {
  color: #6d6e70;
}

.servicesBoxDescription[style*="--mainBlue"] h6,
.servicesBoxDescription[style*="--mainBlue"] p {
  color: #f4f4f4;
}

.selected {
  background-color: var(--mainBlue);
}

.servicesBox.selected h6 {
  color: #f4f4f4;
}

@media (min-width: 320px) and (max-width: 600px) {
  .aboutSectContainer {
    display: none !important;
  }
  .servicesBox p {
    color: rgb(188, 184, 184);
    font-size: 20px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 50px;
  }

  .servicesBoxes {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .servicesBoxes div {
    height: 280px;
    width: 290px;
    margin-left: 24px;
    padding: 30px;
    border-radius: 16px;
  }

  .servicesBoxes img {
    width: 60px;
    height: 50px;
  }

  .servicesBoxes h6 {
    line-height: 23px;
    margin-top: 20px;
  }

  .servicesBoxDescription {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 320px;
    margin-left: 29px;
  }

  .servicesBoxDescription p {
    /* color: #f4f4f4; */
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    width: 220px;
  }

  .servicesBoxContainer {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  .aboutSectContainer {
    display: none !important;
  }
  .servicesBox p {
    color: rgb(188, 184, 184);
    font-size: 20px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 50px;
  }

  .servicesBoxes {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .servicesBoxes div {
    height: 350px;
    width: 350px;
    padding: 30px;
    border-radius: 16px;
  }

  .servicesBoxDescription {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .servicesBoxDescription p {
    /* color: #f4f4f4; */
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    width: 300px;
  }

  .servicesBoxContainer {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 951px) and (max-width: 1200px) {
  .aboutSectContainer {
    display: none !important;
  }
  .servicesBox p {
    color: rgb(188, 184, 184);
    font-size: 20px;
    font-family: var(--fontJakarta);
    font-weight: 500;
    word-wrap: break-word;
    padding-bottom: 50px;
  }
  .servicesBoxContainer {
    margin-top: 50px;
  }

  .servicesBoxes {
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .servicesBoxes div {
    height: 350px;
    width: 350px;
    padding: 30px;
    border-radius: 16px;
  }

  .servicesBoxDescription {
    margin-top: 40px;
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
  }

  .servicesBoxDescription p {
    /* color: #f4f4f4; */
    font-size: 14px;
    font-family: var(--fontJakarta);
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    width: 300px;
  }

  .servicesBoxContainer {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1850px) and (max-width: 1930px) {
  .aboutSectBox {
    /* width: 900px !important; */
    /* margin-right: 300px !important; */
    right: 335px !important;
  }

  .servicesBoxes {
    gap: 0 !important;
    justify-content: space-between;
  }
}


@media (min-width: 1230px) and (max-width: 1330px){ 

  .aboutSectBox{
    width: 520px !important;
  }
}