@media (min-width: 1550px) and (max-width: 1620px) {
  .footerMg{
    padding-left: 150px !important;
  }
}


@media (min-width: 1630px) and (max-width: 1690px){
  .footerMg{
    padding-left: 100px !important;
  }
}
@media (min-width: 1230px) and (max-width: 1330px) {
  .footerMg {
    padding-left: 80px !important; 
    padding-right: 80px !important; 
  }
}
