/* Reset some default browser styles */
.container {
  position: relative;
  max-width: 1200px;
  margin: 100px auto 50px auto; /* Center the container */
  border-radius: 16px;
  overflow: hidden; /* Ensure border-radius clips child elements */
}

.backgroundVideo {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #000, #15384f);
}

.backgroundVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.textContainer {
  position: absolute;
  bottom: 120px;
  left: 50px;
  color: #eff6ff;
  max-width: 60%; /* Adjust as needed */
}

.mainText {
  font-size: 50px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
}

.subTextContainer {
  font-size: 20px;
  font-family: var(--fontManrope);
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 20px;
}

.button {
  padding: 16px 24px;
  background: white;
  border-radius: 6px;
  color: #313d49;
  font-size: 16px;
  font-family: var(--fontManrope);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s, color 0.3s;
}

.button:hover {
  background-color: #313d49;
  color: white;
}

.partnersTitle {
  /* margin: 50px auto; */
  /* text-align: center; */
  color: var(--mainBlue);
  font-size: 40px;
  font-family: var(--fontJakarta);
  font-weight: 900;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .mainText {
    font-size: 40px;
  }

  .subTextContainer {
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .mainText {
    font-size: 32px;
  }

  .subTextContainer {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 60px 20px;
  }

  .textContainer {
    bottom: 10px;
    left: 10px;
    max-width: 80%;
  }

  .mainText {
    font-size: 12px;
  }

  .subTextContainer {
    font-size: 10px;
  }

  .button {
    padding: 2px 20px;
    font-size: 14px;
  }

  .partnersTitle {
    margin: 30px 20px;
    font-size: 32px;
  }
}
