
.section2HomeMissions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .section2HomeMissions > div {
    flex: 1;
    /* padding: 20px; */
  }
  
  .homeMissionsText p,
  .homeVisionText p {
    margin: 0;
    font-family: var(--fontJakarta);
  }
  
  .homeMissionsText{
      margin-left: 60px;
  }
  .homeVisionText{
      margin-left: 143px;
  }
  
  .homeMissionsTitle {
    color: rgba(39, 52, 63, 0.26);
    font-size: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    word-wrap: break-word;
  }
  
  .homeMissionsDesc {
    color: rgba(39, 52, 63, 0.8);
    font-size: 20px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word;
    padding-top: 45px;
    /* width: 495px; */
  }
  