.section2Home {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 94px;
  margin-top: 52px;
  margin-left: 100px;
  margin-right: 100px;
}

.section2img {
  border-radius: 16px;
  /* flex: 1; */
  margin-left: 20px;
}

.section2about {
  width: 575px;
  /* height: ; */
}

.section2about h1 {
  color: var(--mainBlue);
  font-size: 60px;
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  line-height: 66.4px;
  word-wrap: break-word;
  margin-top: 0;
}

.section2about button {
  width: 119px;
  height: 64px;
  color: white;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
  background-color: var(--mainBlue);
  border-radius: 8px;
  margin-top: 45px;
  transition: background-color 0.3s, color 0.3s; 
}

.sectionBtn:hover {
  background-color: #2a343ed8; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

/* RESPONSIVE */

@media (min-width: 951px) and (max-width: 1200px) {
}

@media (min-width: 600px) and (max-width: 950px) {
  .section2img {
    display: none;
  }
  .section2about button {
    width: 90%;
    margin-left: 60px;
  }
  .section2about h1 {
    /* width: 90%; */
    margin-left: 60px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .section2img {
    display: none;
  }

  .section2Home {
    margin: 0;
    /* margin: 20px; */
    /* margin-top: 30px; */
  }

  .section2about {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .section2about button {
    width: 166px;
    height: 46px;
    font-size: 16px;
  }
}
