.aboutSectionFirst {
  background-color: #f3f3f3;
  padding-bottom: 100px;
}

.aboutSectBox {
  background-color: #ffff;
  padding: 50px;
  /* box-shadow: 10px 20px 70px rgba(158.15, 159.22, 165.75, 0.55); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 16px;
  height: 300px;
  width: 650px;
  position: absolute;
  top: 180px;
  left: 1px;
  z-index: 999;
  margin-left: 100px;
}

.aboutSectImage {
  /* position: absolute; */
  float: right;
  margin-left: 240px;
  margin-top: 90px;
  /* top: 40px;
      left: 140px; */
}
.aboutSectBox h2 {
  color: #00051b;
  font-size: 36px;
  font-family: var(--fontJakarta);
  font-weight: 600;
  /* line-height: 66.4px; */
  word-wrap: break-word;
  padding-bottom: 30px;
}

.aboutSectBox p {
  color: #6d6e70;
  font-size: 20px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.aboutSectContainer {
  display: flex;
  /* flex-direction: column; */
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 123px;
}

.newsDetailSection {
  display: flex;
  flex-direction: column;
}

.newsDetailDescription {
  margin-right: 100px;
  margin-left: 100px;
}
.newsDetailDescription p {
  color: var(--mainBlue);
  font-size: 16px;
  font-family: var(--fontJakarta);
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word;
}

.aboutSectBox h6 {
  color: rgba(39, 52, 63, 0.5);
  font-size: 20px;
  font-family: var(--fontJakarta);
  font-weight: 500;
  word-wrap: break-word;
}

.aboutSectBox h5 {
  color: var(--mainBlue);
  font-size: 16px;
  font-family: var(--fontJakarta˝);
  font-weight: 400;
  line-height: 34.8px;
  word-wrap: break-word;
}

.newsDetailDescription button {
  width: 100px;
  height: 60px;
  color: #ffff;
  background-color: var(--mainBlue);
  border-radius: 8px;
  margin-top: 30px;
  /* margin-left: 550px; */
}
